body{
	font-family: arial;
}

header {
background: url(img/first-bg.jpg) no-repeat center center / cover;
height: 700px;
}

.container {
	width: 940px;
	margin: 0px auto;
}

.clearfix:after{ 
content:""; 
display: table; 
width: 100%; 
clear: both; 
}

.top .logo{
	float: left;
	margin-top: 24px;
}

.top ul{
	display: block;
	margin:0px;
	float: right;
	margin-top: 24px;
	list-style: none;
}

.top li{
	float: left;
	color: #fff;
	margin-right: 35px;
}

.top li a{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}